<%- include("partials/header") -%>
<div class="home-ct">
  <img src="images/key.png" alt="" width="150" />
  <h1 class="mt-5 mb-2">MySecrets</h1>
  <p>Don't keep your secrets, share them anonymously!</p>
  <div class="home-ct-a">
    <a href="/register" class="register-btn">Register</a>
    <a href="/login" class="login-btn">Login</a>
  </div>
</div>
<%- include("partials/footer") -%>
