<%- include("partials/header") -%>
<div class="container-fluid w-50 p-5 reg-ct">
  <% if (isGreen) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Successfuly registered!</strong> You can now go ahead and login to
    your existing accouont.
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %> <% if (isRed) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> Wrong email or password.
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %>
  <h1>Login</h1>
  <div class="reg-form p-3 mt-3">
    <form action="/login" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="e"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control mb-3"
          id="exampleInputPassword1"
          name="p"
        />
        New to MySecret?
        <a href="/register" style="padding: 0; color: #393e46">
          <strong>Register</strong>
        </a>
      </div>
      <button type="submit" class="btn d-block">Login</button>
    </form>
  </div>
</div>
<%- include("partials/footer") -%>
