<%- include("partials/header") -%>
<div class="container-fluid w-100 p-5 text-center">
  <form action="/logout" method="post">
    <input
      type="submit"
      name="logout"
      value="Log Out"
      class="logout-btn float-start"
    />
  </form>
  <a href="/submit" class="login-btn float-end">Submit a Secret</a>
  <img src="images/key.png" alt="" width="100" />
  <h1 class="mt-5 mb-2">You've discovered MySecrets!</h1>
  <p class="text-bg-dark fs-3 secret">
    I think that majorities are usually the wrong.
  </p>
  <%secrets.forEach(secret=>{%>
  <p class="text-bg-dark fs-3 secret"><%= secret.secret %></p>
  <%})%>
</div>
<%- include("partials/footer") -%>
